
<h1>Which kind of fish?</h1>
<div class='container'>
	<!--rounds flats and rockfish -->
	<div class='row'>
		<div class='col-md-4'>
			<div id='roundfish' class='fam-div'>
				<h4>ROUNDFISH</h4>
			</div>
		</div>

		<div class='col-md-4'>
			<div id ='flatfish' class='fam-div'>
				<h4>FLATFISH</h4>
			</div> 
		</div>

		<div class='col-md-4'>
			<div id ='rockfish' class ='fam-div'>
				<h4>ROCKFISH</h4>
			</div>
		</div>
	</div>
	<!--mammals, salmon and skates -->
	<div class='row'>
		<div class='col-md-4'>
			<div id='mammal' class='fam-div'>
				<h4>MAMMALS</h4>
			</div>	
		</div>

		<div class='col-md-4'>
			<div id= 'salmon' class ='fam-div'>
				<h4>SALMON</h4>
			</div>
		</div>

		<div class='col-md-4'>
			<div id='skate' class ='fam-div'>
				<h4>SKATES</h4>
			</div>
		</div>
	</div>
	<!--sculpins, inverts, and incidentals-->
	<div class='row'>
		<div class='col-md-4'>
			<div id='sculpin' class='fam-div'>
				<h4>SCULPINS</h4>
			</div>
		</div>

		<div class = 'col-md-4'>
			<div id='incidental' class='fam-div'>
				<h4>INCIDENTALS</h4>
			</div>
		</div>

		<div class='col-md-4'>
			<div id ='invertebrate' class='fam-div'>
				<h4>INVERTS</h4>
			</div>
		</div>
	</div>
</div>

