h3 {
	text-transform: uppercase;
	font-weight: bold;
}


.thumb {
	height: auto;
	width: auto;
	max-height: 200px;
	max-width: 200px;
	padding: 1px;
}

.big-pic {
	height: auto;
	width: auto;
	max-height: 66%;
	max-width: 66%;
}

