h3 {
	text-transform: uppercase;
	font-weight: bold;
}


.thumb {
	height: 135px;
	width: 240px;
	padding: 1px;
}

.big-pic {
	height: auto;
	width: auto;
	max-height: 66%;
	max-width: 66%;
}

.linkz a {
	color: black;
}

a {
	color:black;
}